//- if zaloginen_bliat 
//-   p= "logged in as "+title+"!"
//-   br
//-   br 
//-   //- there should be a button that makes you unlogin
//- else
//-   //- p= "all other shit like reg and login"
form(action="/auth" method="POST")
  p Registration
  br
  input(type="text" value="mail" name="mail")
  br
  input(type="text" value="name" name="name")
  br
  input(type="text" value="surname" name="surname")
  br
  input(type="text" value="phone" name="phone")
  br
  input(type="text" value="date of birth" name="dob")
  br
  input(type="text" value="login" name="login")
  br
  input(type="password" value="pwd" name="pwd")
  br
  input(type="submit")


if err
  p(style="color: red")= err
form(action="/login" method="POST")
  p Login
  br
  input(type="text" name="login" value="login")
  br
  input(type="password" name="pwd")
  br
  input(type="submit")


