form(action="/artCreate" method="POST")
  p New Article
  br
  input(type="text" value="name" name="name")
  br
  input(type="text" value="text" name="text")
  br
  input(type="text" value="author" name="author")
  br
  input(type="submit")
  br

